---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps3 from '~/components/widgets/Steps3.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';

import { headerData } from '~/navigation';

const metadata = {
  title: 'Aerodynamic Lab - Applied Aerodynamic Research',
};


---



<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      isSticky
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline=""
    actions={[
      { variant: 'primary', target: '_blank', text: 'Contact Us', href: 'https://github.com/onwidget/astrowind' },
    ]}
    image={{ src: '~/assets/images/plane-logo-orange-blue-streamline.png', alt: 'Aerodynamic Lab - Paper Plane with streamlines' }}
  >
    <Fragment slot="title">
      Applied Aerodynamic Research
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Simple and practical solutions for your <span class="font-semibold">aerodynamic </span>related problems. We do simulations, airplane design, and many other shit at the price of suck my dick per hour 
    </Fragment>
  </Hero2>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Know-How"
    subtitle=""
    columns={3}
    items={[
      {
        title: 'Conceptual to detailed small aircraft design',
        description:
          'From predesign architectural and mission studies to detailed design of UAVs, eVTOL and small aircraft',
        icon: 'tabler:layers-union',
      },
      {
        title: 'Low and mid fidelity aerodynamic simulations',
        description: `From simple panel methods to surface vorticity flow solver with empirical corrections. Fast simulations for the early design stages`,
        icon: 'tabler:artboard',
      },
      {
        title: 'Computational Fluid Dynamics (CFD)',
        description:
          'Preprocessing, solution and postprocessing of CFD simulations with RANS, DES and LES modelling',
        icon: 'tabler:writing',
      },
      {
        title: 'Wind tunnel and flight testing',
        description: `Validation and verification with 'real world testing'. From sensoring or data postprocessing to running entire test campaigns`,
        icon: 'tabler:podium',
      },
      {
        title: 'Flight dynamics and control',
        description: `Analyzing and optimizing the performance and stability of flying vehicles.`,
        icon: 'tabler:rocket',
      },
      {
        title: 'Digital twins and aerodynamic databases',
        description: `Computational models that represent the reality`,
        icon: 'tabler:eyeglass',
      },
      {
        title: 'Acoustics',
        description: `Propellers and wind turbine noise reduction`,
        icon: 'tabler:eyeglass',
      },
      {
        title: 'Multidisciplinary Optimization',
        description: `Aerodynamic, weight, propulsive, structure etc. joint optimization`,
        icon: 'tabler:eyeglass',
      },
      {
        title: 'Python Frameworks',
        description: `Although we are not software engineers, we can help you streamline and automatize your processes`,
        icon: 'tabler:eyeglass',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    title="Applications"
    subtitle=""
    isReversed
    items={[
      {
        title: 'Aircraft architecture design, aerodynamic simulations, aerodynamic models, windtunnel testing for validation etc.',
        description: '',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1620558138198-cfb9b4f3c294?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1671&q=80',
      alt: 'Startup Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        UAVs, eVTOL, small aircraft
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Lower consumption and emissions for the automotive industry and sports ',
        description: ``,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1531973486364-5fa64260d75b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1658&q=80',
      alt: 'SaaS Businesses Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Vehicle Drag Reduction
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Blade optimization, noise reduction, characteristics',
        description: ``,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1635070041078-e363dbe005cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Portfolio Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Propellers and wind turbines
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Content>
 
  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'What are your prices',
        description:
          'The cost of materials needed for the project (i.e. windtunnel tests) are also added. Prices are computed by hour of work, and depend on several factors (lead-time,  materials required, external costs etc.) but it will be agreed before the start of the work. In general, average price is around 200E / hour for jobs up to 10 hours, and keeps descending to 80 per hour for projects above 100 hours etc.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'I get prices depend on the project, but how much would it cost, for example, a CFD simulation',
        description: `If the geometry is clean so that only meshing, simulation and extraction of basic results are required, for a mesh of a few millions elements, price will be around 300E`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'What tools do you use?',
        description:
          'See our tools section',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Is there training available?',
        description: `Yes, we provide training and material for several of the software tools we use, as well as for validation and testing. Contact us for more information!`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Steps3 Widget ****************** -->

  <Steps3
    title="Reach out"
    subtitle="Have questions? Feel free to contact us using the form below. We're here to help!"
    callToAction={{
      text: 'Contact us',
      href: '/',
    }}
    items={[
      {
        title: 'contact@support.com',
        icon: 'tabler:mail',
      },
      {
        title: '+1 (234) 567-890',
        icon: 'tabler:headset',
      },
      {
        title: '@AerodynamicLab',
        icon: 'tabler:brand-linkedin',
      },
    ]}
  />
