---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Contact2 from '~/components/widgets/Contact2.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';

import { headerData } from '~/navigation';

const metadata = {
  title: 'Aerodynamic Lab - Applied Aerodynamic Research',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header {...headerData} isSticky />
  </Fragment>

  <!-- Landing Section ******************* -->

  <Hero2
    tagline=""
    actions={[{ variant: 'primary', text: 'Contact Us', href: '#contact-section' }]}
    image={{
      src: '~/assets/images/landing_plane_streamlines_light.png',
      alt: 'Aerodynamic Lab - Paper Plane with streamlines',
    }}
  >
    <Fragment slot="title"> Applied Aerodynamic Research </Fragment>

    <Fragment slot="subtitle"> Simple. Pragmatic. Engineering. </Fragment>

    <Fragment slot="content">
      We are a research lab dedicated to <span class="font-semibold">
        solving aerodynamic challenges in transport and energy sectors</span
      >. <br />
      Our goal is to allow access and knowledge to the latest technologies in design, analysis, and optimization for aircraft,
      wind turbines, propellers and other vehicles.
    </Fragment>
  </Hero2>

  <!-- Expertise Section *************** -->

  <Features
    id="expertise-section"
    title="Expertise"
    subtitle=""
    columns={3}
    items={[
      {
        title: 'Aircraft design',
        description: 'UAVs, eVTOL and small aircraft architecture and envelope design',
        icon: 'tabler:tools', // edit, writing, pencil
      },
      {
        title: 'Low fidelity aerodynamic simulations',
        description: `Fast and inexpensive. From lifting line to vorticity-based solvers.`,
        icon: 'tabler:math-symbols', //abacus
      },
      {
        title: 'Computational Fluid Dynamics (CFD)',
        description: 'Accurate simulations. RANS and optionally LES and DES.',
        icon: 'tabler:calculator', // cpu, math-integrals
      },
      {
        title: 'Wind tunnel and flight testing',
        description: `Validation and verification with 'real world experiments'. Sensoring, acquisition and data postprocessing.`,
        icon: 'tabler:plane-inflight',
      },
      {
        title: 'Flight dynamics and control',
        description: `Analysis of flying vehicles stability and control.`,
        icon: 'tabler:send',
      },
      {
        title: 'Digital twins and aerodynamic databases',
        description: `Computational models that represent reality`,
        icon: 'tabler:database',
      },
      {
        title: 'Acoustics',
        description: `Propellers and wind turbine noise reduction`,
        icon: 'tabler:volume-2', //drone, building-wind-turbine, windmill-fill
      },
      {
        title: 'Multidisciplinary Optimization',
        description: `Aerodynamic, weight, propulsive, structure etc. joint optimization`,
        icon: 'tabler:adjustments',
      },
      {
        title: 'Python Frameworks',
        description: `Although not software engineers, we help you streamline your processes`,
        icon: 'tabler:code', //apps, brakets-angle, code-dots, brand-python
      },
    ]}
  />

  <!-- Applications Section **************** -->

  <Content
    id="applications-section"
    title="Applications"
    subtitle=""
    isReversed
    items={[
      {
        title:
          'Aircraft architecture design, multi-fidelity aerodynamic simulations and models, windtunnel testing and propeller design among others',
        description: '',
      },
    ]}
    image={{
      src: '~/assets/images/evtol-aircraft.png',
      alt: 'eVTOL Small Aircraft UAVs',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Small Aircraft, eVTOL, UAVs</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Lower consumption, emissions and better performance for the transport and sports industry',
        description: ``,
      },
    ]}
    image={{
      src: '~/assets/images/drag-reduction-cropped.png',
      alt: 'Drag Reduction',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Drag Reduction</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: '',
        description: `Small wind turbine design and placement, blade optimization, noise reduction`,
      },
    ]}
    image={{
      src: '~/assets/images/wind-energy.png',
      alt: 'Wind Energy',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Wind Energy</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Why us section ******************* -->

  <FAQs
    id="why-us-section"
    title="Why us?"
    columns={2}
    items={[
      {
        title: 'Flexibility',
        description:
          'Aerodynamic workload comes in waves: we allow you to outsource the work when you need and not pay when you do not',
        icon: 'tabler:chevron-right',
      },
      {
        title: 'Customer-centric',
        description:
          'We are here to help you. We value clear and concise communication to best understand how can we do it.',
        icon: 'tabler:chevron-right',
      },
      {
        title: 'Knowledge returns',
        description:
          'We deliver not only comprehensive reports, presentations, results or raw data but also we transfer the knowledge acquired during the process. It feels like done in-house.',
        icon: 'tabler:chevron-right',
      },
      {
        title: 'Global view',
        description:
          'Differently from other very specialized firms, our wide expertise allows to see the bigger picture ',
        icon: 'tabler:chevron-right',
      },
      /* {
        title: "We love what we do",
        description:
          "We love solving technical challenges. Got an idea in mind? Let’s work on it and have fun together",
        icon: 'tabler:chevron-right',
      }, */
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- FAQs Widget ******************* -->

  <FAQs
    id="faqs-section"
    title="FAQs"
    columns={1}
    items={[
      {
        title: 'What are your prices?',
        description:
          'Prices are computed depending on working hours plus the cost of materials needed (i.e. windtunnel tests). In general, average price is around 200€ / hour for jobs up to 20 hours, and descends until 100€ / hour for projects above 150 hours etc. Final price will depend on several factors but it will be agreed before the start of the project.',
        icon: 'tabler:zoom-question',
      },
      {
        title:
          'How much would it cost, for example, a CFD simulation at various angles and/or airspeeds for one geometry',
        description: `If the geometry is clean so that only meshing, simulation and extraction of basic results are required, for a mesh of a few millions elements, price will be around 300E`,
        icon: 'tabler:zoom-question',
      },
      {
        title: 'What tools do you use?',
        description: 'See our tools section',
        icon: 'tabler:zoom-question',
      },
      {
        title: 'Is there training available?',
        description: `Yes, we provide training and material for several of the software tools we use, as well as for validation and testing. Contact us for more information!`,
        icon: 'tabler:zoom-question',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Contact Us Section ****************** -->

  <Contact2
    title="Reach out"
    id="contact-section"
    subtitle=""
    items={[
      {
        title:
          '<a class="cursor-pointer hover:text-primary" target="blank" href=https://zcal.co/aerodynamiclab/meetus> Book a meeting with us </a>',
        icon: 'tabler:calendar-month',
      },
      {
        title: 'hello@aerodynamiclab.com',
        icon: 'tabler:mail',
      },
      /*{
        title: '+41 77 994 12 7',
        icon: 'tabler:headset',
      },*/
      {
        title: '@AerodynamicLab',
        icon: 'tabler:brand-linkedin',
      },
      {
        title: '@AerodynamicLab',
        icon: 'tabler:brand-x',
      },
    ]}
  />
</Layout>
