---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps3 from '~/components/widgets/Steps3.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import ContactUs from '~/components/widgets/Contact.astro';

import { headerData } from '~/navigation';

const metadata = {
  title: 'Aerodynamic Lab - Applied Aerodynamic Research',
};


---



<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      {...headerData}
      isSticky
    />
  </Fragment>

  <!-- Landing Section ******************* -->

  <Hero2
    tagline=""
    actions={[
      { variant: 'primary', text: 'Contact Us', href: '#contact-section' },
    ]}
    image={{ src: '~/assets/images/plane-logo-orange-blue-streamline.png', alt: 'Aerodynamic Lab - Paper Plane with streamlines' }}
  >
    <Fragment slot="title">
      Applied Aerodynamic Research
    </Fragment>

    <Fragment slot="subtitle">
        Simple. Pragmatic. Engineering.
    </Fragment>

    <Fragment slot="content">
        We are a research lab that <span class="font-semibold">helps you solve your aerodynamic problems </span> .
        Our goal is to allow access to the latest technology to design, analyse and optimize aircraft, wind turbines, propellers and other vehicles
    </Fragment>
  </Hero2>

  <!-- Expertise Section *************** -->

  <Features
    id="expertise-section"
    title="Expertise"
    subtitle=""
    columns={3}
    items={[
      {
        title: 'Aircraft design',
        description:
          'UAVs, eVTOL and small aircraft architecture and envelope design',
        icon: 'tabler:tools', // edit, writing, pencil
      },
      {
        title: 'Low fidelity aerodynamic simulations',
        description: `Fast and inexpensive. From panel methods to surface vorticity solvers.`,
        icon: 'tabler:math-symbols', //abacus
      },
      {
        title: 'Computational Fluid Dynamics (CFD)',
        description:
          'Accurate simulations. RANS and optionally LES and DES.',
        icon: 'tabler:calculator',  // cpu, math-integrals
      },
      {
        title: 'Wind tunnel and flight testing',
        description: `Validation and verification with 'real world experiments'. Sensoring, acquisition and data postprocessing.`,
        icon: 'tabler:plane-inflight',
      },
      {
        title: 'Flight dynamics and control',
        description: `Analysis of flying vehicles stability and control.`,
        icon: 'tabler:send',
      },
      {
        title: 'Digital twins and aerodynamic databases',
        description: `Computational models that represent reality`,
        icon: 'tabler:database',
      },
      {
        title: 'Acoustics',
        description: `Propellers and wind turbine noise reduction`,
        icon: 'tabler:volume-2', //drone, building-wind-turbine, windmill-fill
      },
      {
        title: 'Multidisciplinary Optimization',
        description: `Aerodynamic, weight, propulsive, structure etc. joint optimization`,
        icon: 'tabler:adjustments',
      },
      {
        title: 'Python Frameworks',
        description: `Although not software engineers, we help you streamline your processes`,
        icon: 'tabler:code',  //apps, brakets-angle, code-dots, brand-python
      },
    ]}
  />

  <!-- Applications Section **************** -->

  <Content
    id="applications-section"
    title="Applications"
    subtitle=""
    isReversed
    items={[
      {
        title: 'Aircraft architecture design, aerodynamic simulations and models, windtunnel testing for validation etc.',
        description: '',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1620558138198-cfb9b4f3c294?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1671&q=80',
      alt: 'Startup Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        UAVs, eVTOL, Small Aircraft
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isAfterContent={true}
    items={[
      {
        title: 'Lower consumption, emissions and better performance for the automotive and sports industry ',
        description: ``,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1531973486364-5fa64260d75b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1658&q=80',
      alt: 'SaaS Businesses Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Vehicle Drag Reduction
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Blade design and optimization, noise reduction, wind turbine placement etc.',
        description: ``,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1635070041078-e363dbe005cb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Portfolio Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Propellers, Wind Turbines
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Why us section ******************* -->

  <FAQs
    id="why-us-section"
    title="Why us?"
    columns={2}
    items={[
      { title: "Flexibility",
        description:"Aerodynamic workload comes in waves: we allow you to outsource the work when you need and not pay when you do not",
        icon: 'tabler:chevron-right',

      },
      {
        title: "Customer-centric",
        description: "We are here to help you. We value clear and concise communication to best understand how can we do it.",
        icon: 'tabler:chevron-right',
      },
      {
        title: "Knowledge returns",
        description:
          "We deliver not only comprehensive reports, presentations, results or raw data but also we transfer the knowledge acquired during the process. It feels like done in-house.",
        icon: 'tabler:chevron-right',
      },
      {
        title: "Global view",
        description:
          "Differently from other very specialized firms, our wide expertise allows to see the bigger picture ",
        icon: 'tabler:chevron-right',
      },
      /* {
        title: "We love what we do",
        description:
          "We love solving technical challenges. Got an idea in mind? Let’s work on it and have fun together",
        icon: 'tabler:chevron-right',
      }, */
    ]}
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
  </Fragment>

  </FAQs>




  <!-- FAQs Widget ******************* -->

  <FAQs
    id="faqs-section"
    title="FAQs"
    columns={1}
    items={[
      {
        title: 'What are your prices?',
        description:
          'Prices are computed depending on working hours plus the cost of materials needed (i.e. windtunnel tests). In general, average price is around 200€ / hour for jobs up to 20 hours, and descends until 100€ / hour for projects above 150 hours etc. Final price will depend on several factors but it will be agreed before the start of the project.',
        icon: 'tabler:zoom-question',
      },
      {
        title: 'How much would it cost, for example, a CFD simulation at various angles and/or airspeeds for one geometry',
        description: `If the geometry is clean so that only meshing, simulation and extraction of basic results are required, for a mesh of a few millions elements, price will be around 300E`,
        icon: 'tabler:zoom-question',
      },
      {
        title: 'What tools do you use?',
        description:
          'See our tools section',
        icon: 'tabler:zoom-question',
      },
      {
        title: 'Is there training available?',
        description: `Yes, we provide training and material for several of the software tools we use, as well as for validation and testing. Contact us for more information!`,
        icon: 'tabler:zoom-question',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Contact Us Section ****************** -->

  <Steps3
    title="Reach out"
    id="contact-section"
    subtitle="Do you have questions? Contact us using the form below. We're here to help!"
    items={[
      {
        title: 'hello@aerodynamiclab.com',
        icon: 'tabler:mail',
      },
      /*{
        title: '+41 77 994 12 7',
        icon: 'tabler:headset',
      },*/
      {
        title: '@AerodynamicLab',
        icon: 'tabler:brand-linkedin',
      },
    ]}
  />

  <ContactUs
  id="form"
  title="Drop us a message"
  subtitle=""
  inputs={[
    {
      type: 'text',
      name: 'name',
      label: 'Name',
    },
    {
      type: 'email',
      name: 'email',
      label: 'Email',
    },
  ]}
  textarea={{
    label: 'Message',
  }}
  disclaimer={{
    label:
      'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
  }}
/>
