---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import LandingSection from '~/components/aerodynamiclab_specific/LandingSection.astro';
import ExpertiseSection from '~/components/aerodynamiclab_specific/ExpertiseSection.astro';
import ContactSection from '~/components/aerodynamiclab_specific/ContactSection.astro';
import Application from '~/components/aerodynamiclab_specific/Application.astro';
import TextElementsSection from '~/components/aerodynamiclab_specific/TextElementsSection.astro';
import BrandsWithLinks from '~/components/widgets/BrandsWithLinks.astro';
import { headerData } from '~/navigation';
import { UI } from 'astrowind:config';

const metadata = {
  title: 'Aerodynamic Lab - Applied Aerodynamic Research',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header {...headerData} isSticky />
  </Fragment>

  <!-- Landing Section ******************* -->

  <LandingSection
    tagline=""
    actions={[{ variant: 'primary', text: 'Contact Us', href: '#contact-section' }]}
    image={{
        src: UI.theme === 'dark'
          ? '~/assets/images/landing_plane_streamlines_dark.png' // Dark theme image
          : '~/assets/images/landing_plane_streamlines_light.png', // Light theme image
      alt: 'Aerodynamic Lab - Paper Plane with streamlines',
    }}
  >
    <Fragment slot="title"> Applied Aerodynamic Research </Fragment>

    <Fragment slot="subtitle"> Simple. Pragmatic. Engineering. </Fragment>

    <Fragment slot="content">
      We are a research lab dedicated to <span class="font-semibold">
        solving aerodynamic challenges in transport and energy sectors</span
      >.
      Our goal is to allow access and knowledge to the latest technologies in design, analysis, and optimization for aircraft,
      wind turbines, propellers and other vehicles.
    </Fragment>
  </LandingSection>

  <!-- Expertise Section *************** -->

  <ExpertiseSection
    id="expertise-section"
    title="Expertise"
    subtitle=""
    columns={3}
    items={[
      {
        title: 'Aircraft design',
        description: 'UAVs, eVTOL and small aircraft architecture and envelope design',
        icon: 'tabler:tools', // edit, writing, pencil
      },
      {
        title: 'Low fidelity aerodynamic simulations',
        description: `Fast and inexpensive. From lifting line to vorticity-based solvers.`,
        icon: 'tabler:math-symbols', //abacus
      },
      {
        title: 'Computational Fluid Dynamics (CFD)',
        description: 'Accurate simulations. RANS and optionally LES and DES.',
        icon: 'tabler:calculator', // cpu, math-integrals
      },
      {
        title: 'Wind tunnel and flight testing',
        description: `Validation and verification with 'real world experiments'. Sensoring, acquisition and data postprocessing.`,
        icon: 'tabler:plane-inflight',
      },
      {
        title: 'Flight dynamics and control',
        description: `Analysis of flying vehicles stability and control.`,
        icon: 'tabler:send',
      },
      {
        title: 'Digital twins and aerodynamic databases',
        description: `Computational models that represent reality`,
        icon: 'tabler:database',
      },
      {
        title: 'Acoustics',
        description: `Propellers and wind turbine noise reduction`,
        icon: 'tabler:volume-2', //drone, building-wind-turbine, windmill-fill
      },
      {
        title: 'Multidisciplinary Optimization',
        description: `Aerodynamic, weight, propulsive, structure etc. joint optimization`,
        icon: 'tabler:adjustments',
      },
      {
        title: 'Python Frameworks',
        description: `Although not software engineers, we help you streamline your processes`,
        icon: 'tabler:code', //apps, brakets-angle, code-dots, brand-python
      },
    ]}
  />

  <!-- Applications Section **************** -->

  <Application
    id="applications-section"
    title="Applications"
    subtitle=""
    isReversed
    items={[
      {
        title:
          'Aircraft architecture design, multi-fidelity aerodynamic simulations and models, windtunnel testing and propeller design among others',
        description: '',
      },
    ]}
    image={{
      src: '~/assets/images/applications/evtol-aircraft.png',
      alt: 'eVTOL Small Aircraft UAVs',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Small Aircraft, eVTOL, UAVs</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Application>

  <Application
    isAfterContent={true}
    items={[
      {
        title: 'Lower consumption, emissions and better performance for the transport and sports industry',
        description: ``,
      },
    ]}
    image={{
      src: '~/assets/images/applications/drag-reduction-cropped.png',
      alt: 'Drag Reduction',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Drag Reduction</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Application>

  <Application
    isReversed
    isAfterContent={true}
    items={[
      {
        title: '',
        description: `Small wind turbine design and placement, blade optimization, noise reduction`,
      },
    ]}
    image={{
      src: '~/assets/images/applications/wind-energy.png',
      alt: 'Wind Energy',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Wind Energy</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </Application>

    <!-- Stack Section ****************** -->

    <BrandsWithLinks
    id="stack-section"
    title="Stack"
    subtitle="These are some of the packages we work with"
    icons={[]}
    images={[
      {
        src: '~/assets/images/stack/ansys.png',
        alt: 'ANSYS',
        link: 'https://www.ansys.com/',
      },
      {
        src: '~/assets/images/stack/openfoam.png',
        alt: 'OpenFOAM',
        link: 'https://www.openfoam.com/',
      },
      {
        src: '~/assets/images/stack/starccmplus.png',
        alt: 'StarCCM+',
        link: 'https://plm.sw.siemens.com/en-US/simcenter/fluids-thermal-simulation/star-ccm/',
      },
      {
        src: '~/assets/images/stack/dust.png',
        alt: 'DUST (Politecnico de Milano)',
        link: 'https://www.dust.polimi.it/',
      },
      {
        src: '~/assets/images/stack/flightstream.webp',
        alt: 'FlightStream',
        link: 'https://researchinflight.com/',
      },
      {
        src: '~/assets/images/stack/paraview.png',
        alt: 'Paraview',
        link: 'https://www.paraview.org/'
      },
      {
        src: '~/assets/images/stack/fidelity_pointwise.png',
        alt: 'Fidelity Pointwise',
        link: 'https://www.cadence.com/en_US/home/tools/system-analysis/computational-fluid-dynamics/fidelity.html#vtab2'
      },
      {
        src: '~/assets/images/stack/python.svg',
        alt: 'Python',
        link: 'https://www.python.org/'
      },
      {
        src: '~/assets/images/stack/matlab.svg',
        alt: 'MATLAB',
        link: 'https://www.mathworks.com/products/matlab.html'
      },
      {
        src: '~/assets/images/stack/solidworks.svg',
        alt: 'Solidworks',
        link: 'https://www.solidworks.com/'
      },
      {
        src: '~/assets/images/stack/catia.png',
        alt: 'CATIA',
        link: 'https://www.3ds.com/products/catia'
      },
      {
        src: '~/assets/images/stack/openvsp.png',
        alt: 'OpenVSP',
        link: 'https://www.openvsp.org'
      },
      {
        src: '~/assets/images/stack/arduino.png',
        alt: 'Arduino',
        link: 'https://store.arduino.cc/'
      },
      {
        src: '~/assets/images/stack/openmdao.png',
        alt: 'OpenMDAO',
        link: 'https://openmdao.org/'
      },
    ]}
  />

  <!-- Why us section ******************* -->

  <TextElementsSection
    id="why-us-section"
    title="Why us?"
    columns={2}
    items={[
      {
        title: 'Flexibility',
        description:
          'Aerodynamic workload comes in waves: we allow you to outsource the work when you need and not pay when you do not',
        icon: 'tabler:chevron-right',
      },
      {
        title: 'Customer-centric',
        description:
          'We are here to help you. We value clear and concise communication to best understand how can we do it.',
        icon: 'tabler:chevron-right',
      },
      {
        title: 'Knowledge returns',
        description:
          'We deliver not only comprehensive reports, presentations, results or raw data but also we transfer the knowledge acquired during the process. It feels like done in-house.',
        icon: 'tabler:chevron-right',
      },
      {
        title: 'Global view',
        description:
          'Differently from other very specialized firms, our wide expertise allows to see the bigger picture ',
        icon: 'tabler:chevron-right',
      },
      /* {
        title: "We love what we do",
        description:
          "We love solving technical challenges. Got an idea in mind? Let’s work on it and have fun together",
        icon: 'tabler:chevron-right',
      }, */
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </TextElementsSection>

  <!-- FAQs Widget ******************* -->

  <TextElementsSection
    id="faqs-section"
    title="FAQs"
    columns={1}
    items={[
      {
        title: 'What are your prices?',
        description:
          'Prices can be set according to project completion or hours worked (including in case necessary the cost of materials as for windtunnel tests). In general, average price is around 150€ / hour for jobs up to 20 hours, and descends until 100€ / hour for projects above 150 hours etc. Final price will depend on several factors and will be agreed before the start of the project.',
        icon: 'tabler:zoom-question',
      },
      {
        title:
          'How much would it cost, for example, a CFD simulation at various angles and/or airspeeds for one geometry',
        description: `If the geometry is clean so that only meshing, simulation and extraction of basic results are required, for a mesh of a few millions elements, price will be around 300E`,
        icon: 'tabler:zoom-question',
      },
      {
        title: 'What tools do you use?',
        description: 'See our <a class="cursor-pointer hover:text-primary" href=\\#stack-section> stack section </a>',
        icon: 'tabler:zoom-question',
      },
      {
        title: 'Is there training available?',
        description: `Yes, we provide training and material for several of the software tools we use, as well as for validation and testing.  <a class="cursor-pointer hover:text-primary" href=\\#contact-section> Contact us </a> for more information!`,
        icon: 'tabler:zoom-question',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-white dark:bg-transparent"></div>
    </Fragment>
  </TextElementsSection>

  <!-- Contact Us Section ****************** -->

  <ContactSection
    title="Reach out"
    id="contact-section"
    subtitle=""
    items={[
      {
        title:
          '<a class="cursor-pointer hover:text-primary" target="blank" href=https://zcal.co/aerodynamiclab/meetus> Book a meeting with us </a>',
        icon: 'tabler:calendar-month',
      },
      {
        title: 'hello@aerodynamiclab.com',
        icon: 'tabler:mail',
      },
      /*{
        title: '+41 77 994 12 7',
        icon: 'tabler:headset',
      },*/
      {
        title: '@AerodynamicLab',
        icon: 'tabler:brand-linkedin',
      },
      {
        title: '@AerodynamicLab',
        icon: 'tabler:brand-x',
      },
    ]}
  />
</Layout>
