---
import Button from '~/components/ui/Button.astro';
import { getPermalink } from '~/utils/permalinks';

const submitted_link = getPermalink('/submitted')

---
<script src="/src/components/aerodynamiclab_specific/ZohoFormJS.js"></script>

<!-- Google reCaptcha js library -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<form
  action="https://forms.zohopublic.com/robertomzcgm1/form/AerodynamicLabContactUs/formperma/qLZcrTENqRE0XJsZ5A1TVBBgOFm8SF6Yoqp4y_8F4QQ/htmlRecords/submit"
  name="form"
  method="POST"
  accept-charset="UTF-8"
  onSubmit='javascript:document.charset="UTF-8"; return zf_ValidateAndSubmit();'
  enctype="multipart/form-data"
  id="contact-form"
  autocomplete="on">

  <input
    type="hidden"
    name="zf_referrer_name"
    value=""
  /><!-- To Track referrals , place the referrer name within the " " in the above hidden input field -->
  <input
    type="hidden"
    name="zf_redirect_url"
    value={submitted_link}
  /><!-- To redirect to a specific page after record submission, place the respective url within the " " in the above hidden input field -->
  <input
    type="hidden"
    name="zc_gad"
    value=""
  /><!-- If GCLID is enabled in Zoho CRM Integration, click details of AdWords Ads will be pushed to Zoho CRM -->

  <!--------- Name Field ---------->
  <div class="mb-6">
    <label for="name" class="block text-sm font-medium">
      Name *
    </label>
    <input
      type="text"
      name="SingleLine"
      id="name"
      checktype="c1"
      value=""
      maxlength="255"
      fieldType="1"
      placeholder=""
      autocomplete="on"
      class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
    />
    <p
      id="SingleLine_error"
      class="pt-1 text-sm font-medium"
      style="display: none"
    >
      Invalid value
    </p>
  </div>

  <!--------- Email Field ---------->
  <div class="mb-6">
    <label for="email" class="block text-sm font-medium">
      Email *
    </label>
    <input
      fieldType="9"
      type="text"
      maxlength="255"
      name="Email"
      checktype="c5"
      value=""
      placeholder=""
      id="email"
      autocomplete="on"
      class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
    />
    <p
      id="Email_error"
      class="pt-1 text-sm font-medium"
      style="display: none"
    >
      Invalid value
    </p>
  </div>

  <!--------- Text Field ---------->
  <div>
    <label for="textarea" class="block text-sm font-medium">
      How can we help you? *
    </label>
    <textarea
      name="MultiLine"
      checktype="c1"
      maxlength="65535"
      placeholder=""
      id="textarea"
      class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
    />
    <p
      id="MultiLine_error"
      class="pt-1 text-sm font-medium"
      style="display: none"
    >
      Invalid value
    </p>
  </div>

  <br/>
  <div class="g-recaptcha" data-sitekey="6LdR7JUqAAAAADsk6yX71771hcLwuzGr7JsA6DHN"></div>

  <div class="mt-10 grid">
    <Button
      variant="primary"
      type="submit">
        Submit
    </Button>
  </div>

  <div class="mt-3 text-center">
    <p class="text-sm text-gray-600 dark:text-gray-400">
      <small>By submitting you acknowledge and agree to the collection of your personal information. 
      This site is protected by reCAPTCHA and the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.</small>
    </p>
  </div>
</form>

