---
import Button from '~/components/ui/Button.astro';

---

<form
  data-netlify="true"
  name="contact"
  accept-charset="UTF-8"
  enctype="multipart/form-data"
  id="contact-form"
  netlify-honeypot="h-field"
  autocomplete="on"
>

  <!-- Honeypot hidden field only bots should fill -->

  <p class="hidden">
    <label>
      Humans dont fill this <input name="h-field" />
    </label>
  </p>

  <!--------- Name Field ---------->
  <div class="mb-6">
    <label for="name" class="block text-sm font-medium">
      Name
    </label>
    <input
      type="text"
      name="SingleLine"
      id="name"
      name="name"
      value=""
      maxlength="255"
      placeholder=""
      autocomplete="on"
      class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
    />
  </div>

  <!--------- Email Field ---------->
  <div class="mb-6">
    <label for="email" class="block text-sm font-medium">
      Email
    </label>
    <input
      type="text"
      maxlength="255"
      name="Email"
      value=""
      placeholder=""
      id="email"
      name="email"
      autocomplete="on"
      class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
    />
  </div>

  <!--------- Text Field ---------->
  <div>
    <label for="textarea" class="block text-sm font-medium">
      How can we help you?
    </label>
    <textarea
      name="MultiLine"
      maxlength="65535"
      placeholder=""
      id="textarea"
      class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
    />
  </div>

  <div class="mt-10 grid">
    <Button variant="primary" type="submit">
      Submit
    </Button>
  </div>

  <div class="mt-3 text-center">
    <p class="text-sm text-gray-600 dark:text-gray-400">
      By submitting this contact form, you acknowledge and agree to the collection of your personal information. 
    </p>
  </div>
</form>