---
import Button from '~/components/ui/Button.astro';
import { getPermalink } from '~/utils/permalinks';

const submitted_link = getPermalink('/submitted')

---
<script src="/src/components/ui/ZohoFormJS.js"></script>

<form
  action="https://forms.zohopublic.com/robertomzcgm1/form/AerodynamicLabContactUs/formperma/qLZcrTENqRE0XJsZ5A1TVBBgOFm8SF6Yoqp4y_8F4QQ/htmlRecords/submit"
  name="form"
  method="POST"
  onSubmit='javascript:document.charset="UTF-8"; return zf_ValidateAndSubmit();'
  accept-charset="UTF-8"
  enctype="multipart/form-data"
  id="form"
  autocomplete="on"
>

  <input
    type="hidden"
    name="zf_referrer_name"
    value=""
  /><!-- To Track referrals , place the referrer name within the " " in the above hidden input field -->
  <input
    type="hidden"
    name="zf_redirect_url"
    value={submitted_link}
  /><!-- To redirect to a specific page after record submission, place the respective url within the " " in the above hidden input field -->
  <input
    type="hidden"
    name="zc_gad"
    value=""
  /><!-- If GCLID is enabled in Zoho CRM Integration, click details of AdWords Ads will be pushed to Zoho CRM -->

  <!--------- Name Field ---------->
  <div class="mb-6">
    <label for="name" class="block text-sm font-medium">
      Name *
    </label>
    <input
      type="text"
      name="SingleLine"
      id="name"
      checktype="c1"
      value=""
      maxlength="255"
      fieldType="1"
      placeholder=""
      autocomplete="on"
      class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
    />
    <p
      id="SingleLine_error"
      class="pt-1 text-sm font-medium"
      style="display: none"
    >
      Invalid value
    </p>
  </div>

  <!--------- Email Field ---------->
  <div class="mb-6">
    <label for="email" class="block text-sm font-medium">
      Email *
    </label>
    <input
      fieldType="9"
      type="text"
      maxlength="255"
      name="Email"
      checktype="c5"
      value=""
      placeholder=""
      id="email"
      autocomplete="on"
      class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
    />
    <p
      id="Email_error"
      class="pt-1 text-sm font-medium"
      style="display: none"
    >
      Invalid value
    </p>
  </div>

  <!--------- Text Field ---------->
  <div>
    <label for="textarea" class="block text-sm font-medium">
      How can we help you? *
    </label>
    <textarea
      name="MultiLine"
      checktype="c1"
      maxlength="65535"
      placeholder=""
      id="textarea"
      class="py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900"
    />
    <p
      id="MultiLine_error"
      class="pt-1 text-sm font-medium"
      style="display: none"
    >
      Invalid value
    </p>
  </div>

  <div class="mt-10 grid">
    <Button variant="primary" type="submit">
      Submit
    </Button>
  </div>

  <div class="mt-3 text-center">
    <p class="text-sm text-gray-600 dark:text-gray-400">
      By submitting this contact form, you acknowledge and agree to the collection of your personal information. 
    </p>
  </div>
</form>

<script type="text/javascript">
  var zf_DateRegex = new RegExp(
    "^(([0][1-9])|([1-2][0-9])|([3][0-1]))[-](Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec|JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC)[-](?:(?:19|20)[0-9]{2})$"
  );
  var zf_MonthYearRegex = new RegExp(
    "^(Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec|JAN|FEB|MAR|APR|MAY|JUN|JUL|AUG|SEP|OCT|NOV|DEC)[-](?:(?:19|20)[0-9]{2})$"
  );
  var zf_MandArray = ["SingleLine", "Email", "MultiLine"];
  var zf_FieldArray = ["SingleLine", "Email", "MultiLine"];
  var isSalesIQIntegrationEnabled = false;
  var salesIQFieldsArray = [];
</script>